<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="True-Love-Bootstrap Wedding Template">
    <meta name="keyword" content="your keyword goes to here">
    <meta name="author" content="themexriver">
    <title>Riyas Weds Namiya</title>
    <link href="images/favicon.png" rel="icon">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/nivo-lightbox.css" rel="stylesheet">
    <link href="css/nivo-default.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://maps.googleapis.com/maps/api/js"></script>
</head>

<body>
    <div class="site-loder">
        <div class="heart"></div>
    </div> <!-- end of site-loder -->

    <header id="home">
        <nav class="navbar" id="nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.ejs">Riyas <i class="fa fa-heart"></i> Namiya</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">

                        <li class="theme-logo hidden-xs">
                            <a href="index.ejs">
                                <img src="images/logo.png" alt="Logo" class="hidden-sm logo-rotating">
                                <img src="images/logo-sm.png" alt="Logo" class="hidden-md hidden-lg logo-rotating">
                                <div>
                                    <div class="spinner">
                                        <span>Riyas</span>
                                        <span>Namiya</span>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav> <!-- end of nav -->

        <div class="title-bg">
            <div class="title">
                <h1>We are getting</h1>
                <h2>Married</h2>
                <p class="date">27.07.2016</p>
            </div>
        </div>

        <div class="slider">
            <!--<div class="slide-item slide-img-1">-->
                <!--<div class="overlay"></div>-->
            <!--</div>-->

            <!--<div class="slide-item slide-img-2">-->
                <!--<div class="overlay"></div>-->
            <!--</div>-->
        </div> <!-- end of slider -->
    </header>  <!-- end of header -->



    <section class="event section-padding" id="event">
        <div class="container">
            <div class="row section-heading">
                <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h2>The Wedding Events</h2>
                    <p class="cursive">Abdullah bin 'Umar said, "Allah's Apostle said, 'Accept the marriage invitation if you are invited to it.' " Ibn 'Umar used to accept the invitation whether to a wedding banquet or to any other party, even when he was fasting. Shahih Bukhari - Vol 7, Book 62, Number 108</p>
                </div>
            </div>

            <div class="content">
                <div class="row" id="first-row">
                    <div class="col col-md-12">
                        <h3>The Nikkah</h3>
                        <p><span><i class="fa fa-calendar"></i>27 July 2016,</span> <span><i class="fa fa-clock-o"></i>11AM - 2AM, </span> <span><i class="fa fa-map-marker"></i>91, Vellai Khalifha Sahib Street, Melapalayam</span></p>
                        <p class="cursive">What greater thing is there for two human souls than to feel that they are joined for life? To strengthern each other and to be at one with each other in silent unspeakable memories. You have been a greart part in our lives and now we want your presence in our special day. We look forward to host you at our wedding. Please do add us in your prayers. </p>

                    </div>
                </div>
            </div> <!-- end of content -->
        </div> <!-- end of container -->
    </section> <!-- end of event--> 


    <section class="rsvp section-padding" id="rsvp">

        <div class="container">
            <div class="row section-heading">
                <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h2>Submit Your Rsvp</h2>
                    <!--<p>Curabitur ac lacus arcu. Sed vehicula varius lectus auctor viverra. Nulla vehicula nibh vel ante commodo feugiat.</p>-->
                </div>
            </div>

            <div class="row content">
                <div class="from-wrapper col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <form class="form-inline">
                        <div class="form-group col col-sm-6">
                            <label class="sr-only" for="name">Your Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="form-group col col-sm-6">
                            <label class="sr-only" for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" required>
                        </div>

                        <div class="form-group col col-sm-12">
                            <textarea id="message" placeholder="Notes" required></textarea>
                        </div>
                        <div class="form-group submit col-sm-12">
                            <input class="btn btn-default" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div> <!-- end of content -->
        </div> <!-- end of container -->
    </section> <!-- end of rsvp --> 

    <section class="journal section-padding" style="display:none">
        <div class="container">
            <div class="row section-heading">
                <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h2>From Our Journal</h2>
                    <p>Curabitur ac lacus arcu. Sed vehicula varius lectus auctor viverra. Nulla vehicula nibh vel ante commodo feugiat.</p>
                </div>
            </div>
        </div>

            <div class="row content">
                <div class="container">
                <div class="col col-sm-4">
                    <div class="frame">
                        <a href="#">
                            <img src="images/home/journal/frame.png" alt="Frame" class="frame-main">
                            <img src="images/home/journal/frame-sm.png" alt="Frame" class="frame-sm">
                            <img src="images/home/journal/img-1.jpg" alt="Journal" class="main-img">
                            <div class="hover-title">
                                <div>
                                    <span>Wedding Preparations</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col col-sm-4">
                    <div class="frame">
                        <a href="#">
                            <img src="images/home/journal/frame.png" alt="Frame" class="frame-main">
                            <img src="images/home/journal/frame-sm.png" alt="Frame" class="frame-sm">
                            <img src="images/home/journal/img-2.jpg" alt="Journal" class="main-img">
                            <div class="hover-title">
                                <div>
                                    <span>Wedding Preparations</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col col-sm-4">
                    <div class="frame">
                        <a href="#">
                            <img src="images/home/journal/frame.png" alt="Frame" class="frame-main">
                            <img src="images/home/journal/frame-sm.png" alt="Frame" class="frame-sm">
                            <img src="images/home/journal/img-3.jpg" alt="Journal" class="main-img">
                            <div class="hover-title">
                                <div>
                                    <span>Wedding Preparations</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="link">
                    <a href="#" class="btn btn-default">Load More</a>
                    <a href="#" class="btn btn-default">See Journal</a>
                </div>
                </div>
            </div> <!-- end of content -->
    </section> <!-- end of journal--> 

    <section class="wedd-location section-padding">
        <div class="container">
            <div class="row section-heading">
                <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h2>Wedding Location</h2>
                    <!--<p>Curabitur ac lacus arcu. Sed vehicula varius lectus auctor viverra. Nulla vehicula nibh vel ante commodo feugiat.</p>-->
                </div>
            </div>

            <div class="row">
                <div class="col col-sm-4">
                    <h3>Location</h3>
                    <div class="icon-frame">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <p class="cursive">91, Vellai Khalifa Sahib Street, Melapalayam, Nellai District - 627005</p>
                </div>
                <div class="col col-sm-4">
                    <h3>Phone</h3>
                    <div class="icon-frame">
                        <i class="fa fa-phone"></i>
                    </div>
                    <p class="cursive">For assistance, please reach out to me @+91 9500062793</p>
                </div>
                <div class="col col-sm-4">
                    <h3>Email</h3>
                    <div class="icon-frame">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <p class="cursive">Write to us @ nikkah@riyaswedsnamiya.com</p>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of wedd-location -->

    <section class="map">
        <h2 class="hidden">Map</h2>
        <div id="googleMap-1"></div> <!-- google map -->
    </section> <!-- end of map -->

    <footer>
        <div class="row">
            <h2>Riyas &amp; Namiya</h2>
            <span class="date">27 July 2016 </span>
        </div>

        <div class="row">
            <div class="container">
                <div class="col col-sm-6">
                    <p>Copyright &copy; 2015 RiyasWedsNamiya. All Rights Reserved</p>
                </div>
                <div class="col col-sm-6">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer> <!-- end of footer -->

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.shuffle.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/nivo-lightbox.min.js"></script>
    <script src="/js/common-script.js"></script>
    <script src="/js/index-script.js"></script>

</body>
</html>
